<section style="background-image: url(img/main-bg.jpg);">

  <div class="container">

    <div class="contact__address">
      <div>
        Новокузнечный переулок 4/1
      </div>
      <div>
        <a href="tel:88121234567">8 (812) 123-45-67</a>
      </div>
    </div>

    <nav>
      <ul>
        <li><a href="#">Каталог</a></li>
        <li><a href="#">Доставка</a></li>
        <li><a href="#">Коллекции</a></li>
        <li><a href="#">Контакты</a></li>
      </ul>
    </nav>

    <div class="buttons-wrap">
      <div class="buttons">
        <button><a href="#">винная карта</a></button>
        <button><a href="#">дегустация</a></button>
      </div>
    </div>
  </div>
</section>