 <section>
   <div class="container">
     <div class="wrapper">
       <div class="content__descr">
         <h2>
           Новинки коллекций
         </h2>
         <h3>
           Март 1980
           Урожай Марселя
         </h3>
         <p>
           Lorem ipsum dolor sit amet, consectetur adipiscing elit. Feugiat enim tortor in hac id imperdiet adipiscing.
           Pellentesque nisi, mi sit non sit sed fermentum. Felis adipiscing morbi sodales ac.
         </p>
         <ul>
           <li class="table__item">
             <div class="table__item-year">1980</div>
             <div class="table__item-wrap">
               <h4>Colli Euganei Bianco Ca' Lustra 1980</h4>
               <p>Красочная бутылка вина из Марселя</p>
             </div>
           </li>
           <li class="table__item">
             <div class="table__item-year">1980</div>
             <div class="table__item-wrap">
               <h4>Colli Euganei Bianco Ca' Lustra 1980</h4>
               <p>Красочная бутылка вина из Марселя</p>
             </div>
           </li>
           <li class="table__item" style="border-bottom: none;">
             <div class="table__item-year">1980</div>
             <div class="table__item-wrap">
               <h4>Colli Euganei Bianco Ca' Lustra 1980</h4>
               <p>Красочная бутылка вина из Марселя</p>
             </div>
           </li>
         </ul>
         <p>
           Lorem ipsum dolor sit amet, consectetur adipiscing elit. Feugiat enim tortor in hac id imperdiet adipiscing.
           Pellentesque nisi, mi sit non sit sed fermentum. Felis adipiscing morbi sodales ac.
         </p>
         <button type="button">узнать подробнее</button>
       </div>
       <div class="content__img">
         <div class="block__one">
           <img src="img/wine_glass.jpg" alt="бокал вина" width="540" height="500">
         </div>
         <div class="block__two">
           <img src="img/wine_rack.jpg" alt="полка с бутылками вина" width="255" height="228">
           <img src="img/wine_bottles.jpg" alt="бутылки с вином" width="255" height="228">
         </div>
       </div>
     </div>
   </div>
 </section>
